.capteur {
    border: 1px solid grey;
    margin: 10px auto;
    padding: 10px;
    width: 40%;
    text-align: center;
}

.container {
    min-height: 06%;
    margin: 15px;
    padding-bottom: 96px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 2fr;
    grid-template-columns: 1fr 2fr 2fr;
}

#col3 {
    -ms-grid-column: 3;
    grid-column: 3;
    height: 100%;
    margin: 0px 5px;
    display: inline-block;
    text-align: center;
}

#col2 {
    text-align: center;
    border-right: solid grey 1px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #B6D7A8;
}

input:focus+.slider {
    box-shadow: 0 0 1px #B6D7A8;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media only screen and (max-width: 800px) {
    .container {
        display: block;
        text-align: center;
    }
}