h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.8em;
}

.ref {
    color: dimgray;
    font-size: 1em;
}

.box_product {
    border: 2px solid dimgray;
    border-radius: 10px;
    margin: 40px;
    padding: 10px 20px;
}

#submit {
    background-color: white;
    color: black;
    border-color: black;
    border: 1px solid black;
    padding: 2px 8px;
    font-size: 1em;
}

#submit:hover {
    background-color: dimgray;
    color: white;
    transition: 125ms;
    border-color: dimgray;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color : black;
}

#number {
    font-size: 1em;
    margin: 10px 0px 10px 10px;
}

.information {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.achat {
    text-align: right;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.photo_produit {
    width: 125px;
    height: 125px;
    border: 1px solid gray;
}

.description {
    width: 60%;
}

#connexion {
    float: left;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 15px;
    padding: 3px;
    border: 1px solid black;
    transition: 0.5s;
}

#connexion:hover {
    background: rgb(145, 182, 129);
}

#connexion:hover #formulaire {
    display: block;
}