#from {
    text-align: left;
}

#btnSearch {
    border: 0;
    background: transparent;
}

#rep {
    text-align: left;
}

#col1 {
    -ms-grid-column: 1;
    grid-column: 1;
    height: 120%;
    margin: 0px 5px;
    background-color: rgb(241, 241, 241);
}

#col2 {
    -ms-grid-column: 2;
    grid-column: 2;
    height: 120%;
    margin: 0px 5px;
    display: inline-block;
    text-align: center;
}

#col3 {
    -ms-grid-column: 3;
    grid-column: 3;
    height: 100%;
    margin: 0px 5px;
    display: inline-block;
    background-color: rgb(241, 241, 241);
}

#article {
    margin: 15px 15px;
}

.titre {
    color: blue;
}

.titre:hover {
    color: #B6D7A8;
}

.date {
    font-style: italic;
    font-size: 12px;
}

h3 {
    margin-top: 5px;
    text-align: center;
}

.contenu {
    font-size: 12px;
}

.article {
    padding: 15px;
}