* {
    margin: 0;
    padding: 0;
}

#img_slider {
    -ms-grid-row: 2;
    position: relative;
    width: 50%;
    height: 100%;
    margin: 1% auto;
}

.descriptif {
    position: relative;
    display: block;
    text-align: center;
    bottom: 20px;
    background: rgba(88, 88, 88, 0.6);
    color: white;
    width: 100%;
    font-size: 3vh;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

h2 {
    text-align: center;
}

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

body {
    margin: 0;
}

div#slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slidy infinite;
}

#col1 {
    height: 110%;
}