#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#interieurModal {
    text-align: center;
    overflow: auto;
    background-color: white;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.close {
    color: #ccc;
    cursor: pointer;
    font-size: 40px;
    margin-bottom: 20px;
    float: right;
}

.close:hover {
    color: black;
}