#col2 {
    text-align: center;
}

.nouvelUtilisateur {
    margin: 10px 25%;
    padding: 10px;
    border: 1px solid grey;
    text-align: center;
    width: 50%;
}

input[type=button] {
    text-align: center;
    border: 1px solid grey;
    transition: 0.3s ease;
    padding: 5px;
}

input[type=button]:hover {
    color: white;
    background-color: grey;
}

footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
