#col2 {
    text-align: center;
}

h2 {
    margin: 10px auto;
}

 table {
     margin: 0px auto;
 }

input {
    text-align: left;
	padding: 10px;
	border: 1px solid gray;
	width: 90%;
	margin: 5px auto;
	transition: 0.3s ease;
}

#btnValider {
    width: 50%;
    text-align: center;
}
#btnValider:hover {
    background-color: gray;
	color: white;
}