*{
	margin: 0%;
	padding: 0%;
}

body{
	margin-left: auto;
	margin-right: auto;
}

header{
	background-color: #B6D7A8;
	border-bottom: 1px black solid;
	text-align: center;
}

.container {
    height: 70%;
    margin: 15px;
	display: grid;
	-ms-grid-columns : repeat(4,1fr);
	grid-template-columns: 1fr 4fr;
	
}

#col1 {
    margin: 0px 5px;
    background-color: rgb(241, 241, 241);
}

#col2 {
    margin: 0px 5px;
	height: 500px;
}

footer{
	background-color: #FFE599;
	border-top: 1px black solid;
	clear: both;
	text-align: center;
	height: 96px;
}
 #image{
	 margin: 1% 10%;
	 display: inline-block;
 }

 #nav {
	 text-align: center;
	 margin: 15px auto;

 }

 #nav input{
	 text-align: center;
	 padding: 10px;
	 border: 1px solid gray;
	 width: 80%;
	 margin: 10px auto;
 }

 #menu {
	text-align: center;
	margin: 90px auto;

}

#menu input{
	text-align: center;
	padding: 10px;
	border: 1px solid gray;
	width: 70%;
	margin: 15px auto;
}
