.container {
    text-align: center;
    width: 90%;
    margin: 5px auto;
    border: 1px solid black;
}



input {
	padding: 10px;
	border: 1px solid gray;
	width: 150%;
	margin: 5px auto;
	transition: 0.3s ease;
}

#btnValider {
    width: 50%;
    text-align: center;
}
#btnValider:hover {
    background-color: gray;
	color: white;
}